body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #11999E;
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  color: #11999E;
  font-weight:normal;
font-size: 2.5rem;
font-family: 'Montserrat', sans-serif;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  color: #EAF6F6;
}
a{
  color:#11999E;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}
span{
  text-decoration: underline;
}
p{
  color: #40514E;
}
hr{
  width: 5%;
  color: #EAF6F6;
  border-width: 0.4rem;
  border-style: none;
  border-top-style: dotted;
}
.top-container {
  background-color: #EAF6F6;
  text-align: center;
  padding-top: 100px;
  position: relative;
}
.middle-container{
  padding: 30px;
  position: relative;
}
.bottom-container{
  padding: 50px 0 20px;
  background-color: #66BFBF;
  margin-top: 10px;
}
.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.profile-pic{
  height:20%;
  width:20%;
}
.code{
  margin-right: 30px;
  width:25%;
  float: left;
}
.photography{
  width:25%;
  float: right;
  margin-left: 10px;
}

.skills{
  margin: 100px auto 100px auto;
  width: 50%;
}
.contact-me{
  margin: 100px auto 50px auto;
    line-height: 2;

}
.skill-row{
  margin-top: 100px;
  text-align: left;
  line-height: 2;
}

.photo{
  display: block;
  padding-left:150px;
  margin: auto;
}
.profile{
  padding: 30px;
}
.contact-msg{
width: 40%;
margin: 40px auto 60px auto;
}
.footer-link{
  color: #11999E;
}
.copyright{
  color:#EAF6F6;
font-size: 0.75rem;
padding: 20px 0;
  }
.btn{
  background: #11CDD4;
  background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
  background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
  background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
  background-image: -o-linear-gradient(top, #11CDD4, #11999E);
  background-image: linear-gradient(to bottom, #11CDD4, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover{
  background: #30E3CB;
  background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
  background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
  text-decoration: none;
}
